/********************************HEADER****************************/

header{

    .svg_logo{
      width: 150px;
      height: 100px;
      margin: 15px;
    }
    }
    
    /**********************************************************************/