
@media only screen and  (min-width: 1440px){

body{
    margin: auto;
    width: 1260px;
}

header{ 
  .svg-logo{
    width: 187px;
    height: 187px;
}

  button{
    display: none;
  }
}

div.ham-btn-menu{
  visibility: visible;
  position: absolute;
  top: 0;
  background-color: transparent;
  
  ul{
    position: absolute;
    top: 0;
    padding: 0;
    margin-left: 426px;
    margin-top: 40px;
  }
  li{
    display: inline;
    margin-left: 50px;
  }
  a{
    font-size: 1.5em;
  }
}
}