@media only screen and (min-width: 992px) {
   /********************************HEADER****************************/

  header {
    .svg-logo {
      width: 187px;
      height: 187px;
    }

    button {
      display: none;
    }
  }

  div.ham-btn-menu {
    visibility: visible;
    position: absolute;
    top: 0;
    background-color: transparent;
    width: 100%;
    height: 0px;

    ul {
      position: absolute;
      top: 0;
      padding: 0;
      margin-left: 290px;
      margin-top: 60px;
    }
    li {
      display: inline;
      margin-left: 50px;
      button {
        height: 45px;
      }
    }
    a {
      font-size: 1.5em;
    }
    button {
      height: 34px;
      margin-left: 70px;
    }
  }

  /******************************FIRST-SECTION***************************/

  .first-section {
    max-width: 1260px;
    max-height: 90vh;

    p {
      max-width: 40%;
    }

    .stig-helmer-img {
      width: 786px;
      height: 717px;
      right: -400px;
      bottom: 330px;
    }
  }
/******************************SECOND-SECTION***************************/
.second-section{
  max-width: 1260px !important;
}

.second-section p {
  padding: 0 10vw !important;
}

.second-section h2 {
  text-align: center !important;
}

.swiper-wrapper{
  display:grid !important;
  grid-template-columns: repeat(4,1fr) !important;
    grid-gap:3rem !important;
  }
  .swiper-wrapper .swiper-slide:hover{
    transform: scale(1.1);
  }
  .swiper-slide{
    transition: transform 0.5s;
  }

.quote-section {
  display: block;
}
/******************************QUOTE-SECTION***************************/
.quote-section{
  max-width: 1260px !important;
  margin: auto;
}
  /***********************FLAMINGO*******************************/

  .flamingoSection {
    height: 100vh;
    background-image: url("../assets/images/flamingo.svg"), url("../assets/images/blue_wave.png"), linear-gradient(0deg, rgba(0,183,170,1) 82%, rgba(255,255,255,1) 82%);
    background-position: unset;
  }

  .flamingo {
    padding-top: 30vh;
  }

  .flamingoInput {
    width: 292px;
    height: 45px;
    margin-bottom: 40px;
  }

  /******************************************************************/
    a {
      font-size: 1.5em;
    }
    button {
      height: 34px;
    }
  


  /********************************FOOTER****************************/

  footer {
    width: auto;
}

  .footer-logo {
    width: 400px;
    height: 400px;
}

  .socialmedia-icons {
    font-size: 30px;
    padding-bottom: 50px;
}

  .socialmedia-icons li {
    margin: 0 10px;
}

  .copyright-text {
    font-size: 1.5rem;
}


.cookie-disclamer {
  width: 100vw;
}


}
