@media only screen and (min-width: 992px) {
  body {
    margin: auto;
    width: 1260px;
  }


  /********************************HEADER****************************/

  header {
    .svg-logo {
      width: 187px;
      height: 187px;
    }

    button {
      display: none;
    }
  }

  div.ham-btn-menu {
    visibility: visible;
    position: absolute;
    top: 0;
    background-color: transparent;
    width: 100%;
    height: 0px;

    ul {
      position: absolute;
      top: 0;
      padding: 0;
      margin-left: 290px;
      margin-top: 60px;
    }
    li {
      display: inline;
      margin-left: 50px;
      button {
        height: 45px;
      }
    }
    a {
      font-size: 1.5em;
    }
    button {
      height: 34px;
      margin-left: 70px;
    }
  }

  /******************************FIRST-SECTION***************************/

  .first-section {
    max-width: 1260px;
    margin-bottom: 100px;

    p {
      max-width: 40%;
    }

    .stig-helmer-img {
      width: 786px;
      height: 717px;
      right: -400px;
      bottom: 330px;
    }
  }
/******************************SECOND-SECTION***************************/

.quote-section {
  display: block;
}
  /***********************FLAMINGO*******************************/

  .flamingoSection {
    height: 100vh;
  }

  .flamingo {
    padding-top: 30vh;
  }

  .flamingoInput {
    width: 292px;
    height: 45px;
    margin-bottom: 40px;
  }

  /******************************************************************/
    a {
      font-size: 1.5em;
    }
    button {
      height: 34px;
      margin-left: 70px;
    }
  


  /********************************FOOTER****************************/

  footer {
    width: auto;
}

  .footer-logo {
    width: 400px;
    height: 400px;
}

  .socialmedia-icons {
    font-size: 30px;
    padding-bottom: 50px;
}

  .socialmedia-icons li {
    margin: 0 10px;
}

  .copyright-text {
    font-size: 1.5rem;
}


}