/********************************VARIABLES****************************/

$primary_orange: #F59C30;
$secondary-teal: #00B7AA;
$warning-red: #F24100;

/********************************GLOBAL**********************************/

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
}

h1 {
  font-size: 2.75rem;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 2.375rem;
}

h3, h4, h5, h6 {
  font-size: 1.5rem;
}

p {
  font-size: 1.25rem;
  line-height: 25px;
}

*{
  margin: 0;
  box-sizing: border-box;
}

/********************************HEADER****************************/

header{
  display: flex;
  justify-content: space-around;
  margin-right: 45px;
    .svg-logo{
      width: 150px;
      height: 100px;
      margin: 15px;
      margin-left: 0px;
      margin-bottom: 5;
    }


    button{
      position: fixed;
      top: 50px;
      z-index: 2;
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;


      span{
        display: block;
        background-color: $primary_orange;
        width: 48px;
        height: 6px;
        margin-right: 10px;
        border: 1px solid black;
        border-radius: 6px;
        &:nth-of-type(2){
          margin-top: 9px;
        }
        &:nth-of-type(3){
          margin-top: 9px;
        }
      }
    }
  }
  

  .ham-btn-menu{
    z-index: 1;
    position: absolute;
    top: 0;
    background-color: rgba($color: #fff, $alpha: 0.8);
    width: 100vw;
    height: 100vh;

    ul{
      text-align: center;
      position: relative;
      top: 150px;
    }
    li{
      list-style: none;
      margin-bottom: 40px;
      
    }

    a{
      color: #000;
      font-family: Inconsolata, monospace;
      font-size: 2.75rem;
      text-decoration: none;
     
      &:hover{
        text-decoration: underline;
        font-weight: 600;
      }
      &:active{
        text-decoration: underline;
        font-weight: 600;
      }
    }
    button{
      width: 200px;
      height: 55px;
      background-color: $primary_orange;
      color: black;
      font-family: Inconsolata, monospace;
      font-size: 20px;
      letter-spacing: 7%;
      border-radius: 50px;
      border: 2px solid black;
      font-size: 2rem;
      cursor: pointer;
      

    }
  }
    /**********************************************************************/

/**************************FIRST-SECTION**********************************/

.first-section {
  position: relative;
  max-width: 430px;
  padding: 0 50px;
  margin: 0 auto;

  p {
    &:first-of-type {
      font-weight: 500;
    }
  }

  a {
    max-width: 250px;
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    color: $primary_orange;
    text-decoration: none;

    &:hover {
      text-decoration: underline;

      img {
        right: -20px;
      }
    }

    img {
      position: relative;
      top: 5px;
      right: 0;
      width: 30px;
      filter: invert(82%) sepia(27%) saturate(5732%) hue-rotate(337deg) brightness(100%) contrast(93%);
      transition: right 0.3s ease-in-out;
    }
  }

  .stig-helmer-img {
    position: relative;
    right: -150px;
    bottom: 75px;
  }
}