/********************************VARIABLES****************************/

$primary_orange: #F59C30;
$secondary-teal: #00B7AA;
$warning-red: #F24100;

/********************************GLOBAL**********************************/

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
}

h1 {
  font-size: 2.75rem;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 2.375rem;
}

h3, h4, h5, h6 {
  font-size: 1.5rem;
}

p {
  font-size: 1.25rem;
  line-height: 25px;
}

/********************************HEADER****************************/

header{

.svg_logo{
  width: 150px;
  height: 100px;
  margin: 15px;
}
}

/**************************FIRST-SECTION**********************************/

.first-section {
  position: relative;
  max-width: 430px;
  padding: 0 50px;
  margin: 0 auto;

  p {
    &:first-of-type {
      font-weight: 500;
    }
  }

  a {
    max-width: 250px;
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    color: $primary_orange;
    text-decoration: none;

    &:hover {
      text-decoration: underline;

      img {
        right: -20px;
      }
    }

    img {
      position: relative;
      top: 5px;
      right: 0;
      width: 30px;
      filter: invert(82%) sepia(27%) saturate(5732%) hue-rotate(337deg) brightness(100%) contrast(93%);
      transition: right 0.3s ease-in-out;
    }
  }

  .stig-helmer-img {
    position: relative;
    right: -150px;
    bottom: 75px;
  }
}

/********************************FOOTER****************************/

footer {
  text-align: center;
  background-color: #FFFFFF;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  padding-top: 10px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-logo {
  width: 103px;
  height: 103px;
  margin: 15px;
}

.socialmedia-icons {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 2rem 2rem 0;
  color: #F59C30;
  -webkit-text-stroke: black;
  -webkit-text-stroke-width: 1px;
}


.socialmedia-icons li{
  margin: 0 10px;
}

.copyright-text {
  font-size: 1rem;
  font-family: 'Inconsolata', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.07em;
  text-align: center;
  margin: 0 0 2rem 0;
}