@media only screen and (min-width: 600px) {

  /********************************HEADER****************************/
  .svg-logo {
    margin-top: 30px;
    margin-left: 30px;
  }

  .btn-ham {
    margin-right: 150px;
    margin-top: 30px;
  }

  /******************************************************************/
  /**************************SECOND-SECTION**********************************/
  .second-section h2 {
    text-align: left;
  }

  .second-section h2,
  .second-section p {

    padding: 0;
  }

  .second-section {
    min-height: 80vh;
  }

  .all-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1rem;

  }

  .card-container {
    position: relative;
    visibility: visible;
    box-shadow: none;
  }

  .second-section .card-carousel .all-cards-container #card2,
  .second-section .card-carousel .all-cards-container #card3,
  .second-section .card-carousel .all-cards-container #card4 {

    position: relative;
    visibility: visible;
  }

  button[aria-label="byter resmål bakåt"] {
    display: none;
  }

  button[aria-label="byter resmål framåt"] {
    display: none;
  }

  /******************************************************************/
  /***********************FLAMINGO*******************************/

  .flamingoSection {
    background-size: cover, 110%;
    background-position: center top, top;
  }

  .flamingo {
    padding-top: 15vh;
  }

  .flamingoInput {
    width: 292px;
    height: 45px;
    margin-bottom: 40px;
  }

  /******************************************************************/

  /*****************COOKIE-DISCLAMER*****************************/
  .cookie-disclamer {
    flex-direction: row;
    height: 70px;

    div:nth-of-type(1) {
      width: 70%;
    }

    div:nth-of-type(2) {
      width: 30%;
    }

    p {
      font-family: 'Roboto', 'sans serif';
      font-size: 1rem;
      letter-spacing: 1px;
      line-height: 1;
      text-align: left;
      margin-right: 0px;
    }

    button {
      width: 175px;
      height: 40px;
      margin-left: 5px;
      margin-top: 15px;
      font-size: 1rem;
    }
  }

  /**************************************************************/


}