@media only screen and (min-width: 600px) {

  /********************************HEADER****************************/
  .svg-logo{
      margin-top:30px;
      margin-left: 30px;
    }

    .btn-ham{
      margin-right: 150px;
      margin-top: 30px;
    }

    /******************************FIRST-SECTION***************************/

  .first-section {
    max-width: 550px;
    margin-bottom: 75px;

    p {
      max-width: 400px;
    }

    a {
      max-width: 350px;
    }

    .stig-helmer-img {
      width: 447px;
      height: 410px;
      right: -250px;
      bottom: 100px;
    }
  }

   /*****************COOKIE-DISCLAMER*****************************/
.cookie-disclamer{
  flex-direction: row;
  height: 70px;
  div:nth-of-type(1){
      width: 70%;
  }
  div:nth-of-type(2){
      width: 30%;
  }

  p{
    font-family: 'Roboto', 'sans serif';
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1;
    text-align: left;
    margin-right: 0px;
  }

  button{
      width: 175px;
      height: 40px;
      margin-left:30px;
      margin-top: 15px;
      font-size: 1rem;
  }
  }
/**************************************************************/

}